<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Pizza Ordering System</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            padding: 0;
            background: #f7f7f7;
            color: #333;
        }

        h1 {
            text-align: center;
            color: #444;
        }

        p {
            margin: 20px 0;
        }

        button {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        button:hover,
        button:focus {
            background-color: #e9e9e9;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
<h1>Welcome to the Pizza Ordering System</h1>
<p>Select an option below:</p>
<a href="/order"><button>Order Pizza</button></a>
<!--<a href="/admin"><button>Admin Page</button></a>-->
</body>

</html>